@page
@using FizzBuzzWeb.Forms;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="primary">Kalkulator lat przestępnych</h1>
    <hr>
    <span asp-validation-for="StolenData.Year" style="color: red; font-weight:bold"></span><br>
    <div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
            <label asp-for="StolenData.Nick"></label><br>
            <input asp-for="StolenData.Nick" id="nameText" /><br>
            <label asp-for="StolenData.Year"></label><br>
            <input asp-for="StolenData.Year" id="yearText" /><br>
            <br></div>
            <button type="submit" id="btn" class="btn btn-primary">Zatwierdź</button>
        </form>
    </div>
    <br>
    <div id="dane">
        @if (Model.StolenData != null)
        {
            @Model.StolenData.Year
            @Model.StolenData.Wynik
        }


    </div>

</div>
